[Unit]
Description=Master Clock Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/master-clock/clock-service

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
